<?php $this->titre = 'Information des clients'; ?>

<ul>
    <li>Yassmine El Wasmi</li>

    <li>420-4A4 MO Web et Bases de données</li>
    <li>Hiver 2020, Collège Montmorency</li>
</ul>
<h3>Information des clients.</h3>
<ul>
    <li>L'application "Information des clients" permet de présenter les informations personnelles des clients, tels que leurs adresses, téléphone ainsi que courriel.</li>
    <li>La page d'Accueil présente la liste des clients
        avec le nom, le numéro de téléphone et le email :</li>

    <li>Les visiteurs peuvent cliquer sur le nom d'un
        client pour lire les informations complète du client :<br>
    </li>
    <ul>
        <li>À la suite, on pourra avoir les détails plus personnelles du client ainsi que les changements faites à son nom ;</li>
    </ul>
</ul>

</html>

<table>
    <tr>
    <td>
            <h4>Base de données utilisée par l'application :</h4>
            <object data="Contenu/images/client_adresse.svg" type="image/svg+xml" height="500" width="800">
                <img src="Contenu/images/bd_actuelle_Tp5.png" alt=""/>
            </object><br/>
        </td>
    </tr>
    <tr>
        <td><br>
            <h4>Basé sur ce modèle original :</h4>
            <a href="http://www.databaseanswers.org/data_models/products_orders_and_deliveries/index.htm" >
                <img src="Contenu/images/bd_originale.png" alt=""/><br/>
                 
        </td>
    </tr>
</table>